#textDate {
  x: 50%;
  y: 18%;
  fill: white;
  text-anchor: middle;
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
}

#textTime {
  x: 50%;
  y: 33%;
  fill: white;
  text-anchor: middle;
  font-size: 50;
  font-family: System-Bold;
  text-length: 32;
}

#textSyncAge {
  x: 0;
  y: 18;
  fill: white;
  font-size: 18;
  text-anchor: start;
  text-length: 20;
}

#textHeartRate {
  x: 100%;
  y: 18;
  fill: white;
  font-size: 18;
  text-anchor: end;
  text-length: 10;
}

#arcTimeline {
  fill: white;
  arc-width: 3;
}

#now {
  fill: red;
  stroke-width: 2;
  opacity: 0.5;
}

.tick {
  fill: white;
  stroke-width: 2;
}

.tickLabel text {
  x: 0;  /* positioned relative to .tickLabel container */
  y: 0;
  fill: white;
  font-family: System-Bold;
  text-length: 2;
}

.eventArc {
  display: none;
  fill: white;
}

#statusMessage {
  fill: white;
  text-anchor: middle;
  font-size: 30;
  text-length: 200;
}

#eventName {
  fill: white;
  rows: 1;
  text-anchor: middle;
  text-overflow: ellipsis;
  text-length: 100;
}

#eventDesc {
  fill: white;
  font-family: System-Regular;
  text-overflow: ellipsis;
  text-length: 1000;
}

#eventLocation {
  fill: white;
  rows: 1;
  text-anchor: middle;
  text-overflow: ellipsis;
  text-length: 100;
}

#eventPrev {
  x: 0;
  y: 0;
  width: 50%;
  height: 100%;
  fill: none;
  pointer-events: visible;
}

#eventNext {
  x: 50%;
  y: 0;
  width: 50%;
  height: 100%;
  fill: none;
  pointer-events: visible;
}
